html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.alert-error{
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.users #new-user{
    margin-left: 15px;
}

.navbar-brand{
    padding: 5px 15px;
}

.navbar-brand img{
    float: left;
}

.navbar-brand h3{
    float: right;
    margin: 0;
    margin-top: 10px;
    margin-left: 10px;
}

.navbar-inverse{
    background-color: #176380;
    border: none;
    border-radius: 0;
}

@media (max-width: 600px) {
    .navbar-inverse{
        padding-top: 0;
    }
}

@media (min-width: 600px) {
    .navbar-inverse{
        padding-top: 140px;
    }
}

.navbar-inverse .navbar-collapse{
    border: none;
}

.navbar-inverse .navbar-collapse .navbar-nav{
    border: none;
}

.navbar-inverse .navbar-nav > li::before{
    width: 10px;
}

.navbar-inverse .navbar-nav > li > a{
    color: white;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus{
    color: #4C4C4C;
    background-color: #FFF;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus{
    color: #4C4C4C;
    background-color: #fff;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.navbar-inverse .navbar-brand{
    color: white;
}

.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus{
    color: white;
    background-color: transparent;
}

.nav > li{
    border: 1px solid white;
    margin-left: 2px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom: none;
}

footer{
    background-color: #176380;
    color: white;
    margin-top: 20px;
}

.sidenav .panel{
    margin-bottom: 100px;
}

.sidenav .panel-primary > .panel-heading{
    background-color: #176380;
}

.sidenav h3{
    margin: 0;
}